@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-foreground-primary: rgb(10, 10, 10);
    --color-foreground-300: rgb(173, 173, 173);
    --color-foreground-500: rgb(108, 108, 108);
    --color-foreground-700: rgb(72, 72, 72);
    --color-background-primary: white;
}

.dark {
    --color-foreground-primary: rgb(246, 246, 246);
    --color-foreground-300: rgb(143, 143, 143);
    --color-foreground-500: rgb(178, 178, 178);
    --color-foreground-700: rgb(212, 212, 212);
    --color-background-primary: rgb(6, 6, 6);
}

/* inter-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/inter-v18-latin-500.woff2') format('woff2');
}

/* rubik-300 - latin */
@font-face {
    font-display: swap;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/rubik-v28-latin-300.woff2') format('woff2');
}

/* rubik-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rubik-v28-latin-regular.woff2') format('woff2');
}

/* rubik-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/rubik-v28-latin-500.woff2') format('woff2');
}
